.base-title-text {
    margin-top: 10px;
    font-weight:normal;
    font-family: 'Just Me Again Down Here'; 
    font-size: xxx-large;
    text-underline-offset: 25px;
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

@media (max-width: 450px) {
    .base-title-text{
        font-size: x-large;
        text-wrap: wrap;
        line-height: 15px;
        text-underline-offset: 10px;
    }
}