.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100% - 100px);
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    width: 100%;
    align-items: center;
}

.home-title-button-container {
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 1000px; 
    justify-content: center;
}

.home-background-container {
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
    z-index: -1;
    top: 0;
    left: 0;
}

@media (min-width: 1024px) {
    .home-title-button-container > :nth-child(1) { 
        align-self: flex-start;
    }
    
    .home-title-button-container > :nth-child(2) { 
        align-self: flex-end;
    }
}

@media (max-width: 1023px) {
    .home-title-button-container {
        align-items: center;
        max-width: 100%;
    }
}

@media (max-width: 1000px) {
    .home-container {
        top: 80px;
    }

}

@media (max-width: 500px) {
    .home-title-button-container {
        width: 90%;
    }
}