.button-base {
    width: 150px; 
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: solid 1px black;
    border-radius: 3px;
    overflow: hidden;
    color: black;
}

.button-base:hover {
    background-color: #808080;
    color: white;
}

.button-base:active {
    background-color: #353232;

}