.title-display-button-base {
    display: flex;
    flex-direction: column;
    width: 600px; 
    height: 200px;
    background-color: rgba(76, 66, 111, 0.8);
    align-items: center;
    gap:20px; 
    border: 5px solid black;
    cursor: pointer;
    padding: 0px 0px 20px 20px;
}

.title-display-button-base:hover {
    background-color: rgba(76, 66, 111, 1);
}
.title-display-button-text {
    color: white;
}


@media (max-width: 700px) {
    .title-display-button-base {
        width: 80%;
        height: 150px;
    }
}

@media (max-height: 700px) {
    .title-display-button-base {
        width: 80%;
        height: 120px;
    }
    .title-display-button-text {
        color: white;
        line-height: 20px;
        margin-bottom: 5px;
    }
}